[submodule "ext/marvin42-dacapo-shared_libraries"]
	path = ext/marvin42-dacapo-shared_libraries
	url = git@github.com:albrdev/marvin42-dacapo-shared_libraries.git
	url = https://github.com/albrdev/marvin42-dacapo-shared_libraries.git
	branch = master
